{% extends "base.html" %}
{% include "django/forms/widgets/input.html" %}
{% block content %}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <div class="field">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <label class="label" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                <input class="input is-success is-quarter"
                                       type="tel"
                                       pattern="^\++?1?\d{9,15}$"
                                       placeholder="+7**********"
                                       name="{{ field.name }}"
                                       id="{{ field.id_for_label }}"
                                       {% if form.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
                                       maxlength="{{ field.field.max_length }}"
                                       {% if field.required %}required{% endif %}>
                            {% endfor %}
                            <br>
                            <br>
                            <button class="button is-dark is-outlined" type="submit">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}