<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'referral:home-page' %}">
            <img src="https://img.icons8.com/fluent-systems-filled/100/000000/handshake.png" alt="Реферальная система"/>
        </a>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'referral:home-page' %}">
                Домой
            </a>
            {% if request.user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <p class="navbar-link" href="#">
                        {% if request.user.username %}{{ request.user.username }}{% else %}Аноним
                            {{ request.user.get_formatted_phone_number }}{% endif %}
                    </p>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="{% url 'referral:profile-view' %}">
                            Профиль
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'referral:logout' %}">
                            Выйти
                        </a>
                    </div>
                </div>
            {% else %}
                <a class="navbar-item" href="{% url "referral:login" %}">
                    Войти
                </a>
            {% endif %}
        </div>
    </div>
</nav>